.navbar {
    background-color: lightblue;
    display: flex;
    width: 70vw;
}

.navbar-items {  
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.navbar-navlink{
    padding: 1rem;
    float: left;
    
}