@import url("../../asset/css/var.css");

.aboutme {
    background-color: var(--color-background-medium);
    width: 100%;
    margin: auto;
    height: 100%;
}

.aboutme-title{
    font-size: 1.7rem;
    
}


.aboutme-p{
    
   font-size: 1.3rem;
}